/*
 *ENG1003 Assigment 2 (2018 S1)
 *Team 205
 *Members: Ngo Jin Yi 28654390
 *         Carwen Wong Kah Vun 29032083
 *         Jose Fernando 29062950
 *         Giridhar Gopal Sharma 29223709
 *
 *Walking Navigation App
 *Aim: To make a readable interface of the app.
 *Last Modified: 19 May 2018
 */

#map{
    height:100%;
    position: inherit !important;
}

.mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored {
    font-size: 10px;
    object-position: top; 
}

#ImgDirection {
    position: absolute;
    top: 70px;
    right: 45px;
    height: 100px;
    width: 80px;
    border: 2px solid blue;
}

#TxtDirection {
    font-size: 20px;
    position: absolute;
    bottom: 125px;
    left: 30px;
}

#distNxtWP {
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 30px;
}

#avgSpeed {
    font-size: 20px;
    position: absolute;
    bottom: 75px;
    left: 30px;
}

#distanceTravelled {
    font-size: 20px;
    position :absolute;
    bottom: 50px;
    left: 30px;
}

#distanceLeft {
    font-size: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

#estimatedTimeRemain {
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

#serverPath {
    font-size: 40px;
    color:darkgreen;
    text-align:center;
    padding-top: 30px;
}

#userPath {
    font-size: 40px;
    color:darkgreen;
    text-align:center;
    padding-top: 30px;
}


